
# ghp Vocabulary
#
# homepage:
#   https://semanticclarity.github.io/ghp-vocabulary/
# maintainers:
#   jwalker
#   mukundanps
#
Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://semanticclarity.github.io/ghp-vocabulary/ [R=302,L]
RewriteRule ^ghp-context$ https://semanticclarity.github.io/ghp-vocabulary/docs/CA/ghp-ca.context.jsonld [R=302,L]
