
# ghp Vocabulary
#
# homepage:
#   https://github.com/SemanticClarity/ghp-vocabulary/
# maintainers:
#   jwalker
#   mukundanps
#
Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://github.com/SemanticClarity/ghp-vocabulary [R=302,L]
RewriteRule ^v1$ https://github.com/SemanticClarity/ghp-vocabulary/context/v1/index.json [R=302,L]
